<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" src="style.css">
</head>

<body>
    <h1>Restaurante</h1>
    <section><h3>Quienes Somos</h3>
        <p>Somos uno de los mejores restaurantes de la ciudad</p>
    </section>
    <section><h3>Servicios</h3>
        <ul>
            <li>Coma en nuestro restaurante</li>
            <li>Domicilios</li>
            <li>Eventos</li>
        </ul>
    </section>
    <section><h3>Contactenos</h3>
        <p>Somos uno de los mejores restaurantes de la ciudad</p>
        
    </section>
</body>
<form>
    <label>Nombre</label>
    <input type="text">
    <label>Ducumento</label>
    <input type="number">
    <label>Correo Electronico</label>
    <input type="email">
</form>

</html>