.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Asegura que esté sobre el carrusel */
    padding: 10px 0;
    color: white;
}




body {
    
    height: 100vh;
    margin: 0;
    background-image: url("/public/img/restaurant.webp");
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
}

.container{

    margin-top: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 1000px;
    height: 100vh;
}